unversioned*
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.mp
**/*.out
**/*.synctex.gz
**/*.top
**/*.tui 
tmp
.DS_Store
tensorboard
main.pdf
*.pyc
*.p
*.pickle
*.fdb_latexmk
*.fls

# notebooks
.ipynb_checkpoints

# data
data_copy/
